@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: orangered;
  padding: 0;
  margin: 0;

}

 #movieContainer { 
  width: 100%;
  height: 100%fit-content;
  border-radius: 3px;
  border: 2px solid Black;
  padding: 20px 14;
  margin: 20px 20px 20px 20px;
  /* background: #A4D3EE; */
  overflow: visible;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

 .random-card {
  /* margin: 40px;  */
  /* padding: 10px; */
  /* border: 1px solid #ccc; */
  width: 300px;
  height: 400px;
 }

  Add these styles to ensure even space, padding, and margins 
.movie-card {
  margin: 40px; 
  padding: 10px;
  border: 1px solid #ccc;
  }

.homeConatainer {
background-image: url('https://wallpapers.com/downloads/high/movie-theater-background-1536-x-1024-2usv5dnbsrxgio1b.webp');
width: 100%;
background-size: cover;
color: #e8eff0;
}

.copy-btn {
  background: rgba(77, 49, 49, 0.74);
}

.genrePage {
  background-position: center;
  background-color: black;
  background-image: url('/whatwewatchin2.jpg');
  /* background-size: cover; */
  color: #e8eff0;
  min-height: 100vh;
}

.moviePageContainer {
background-image: url(/whatwewatchin2.jpg);
background-position: center;
background-size: cover;
min-height: 100vh;
min-width: 100vw;

}
/* 
.genreCard {
  color: #FFF;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */

.container {
  min-width: 100vw;
}

.movieNew {
  display: flex;
  justify-content: center;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: -50px;
}

.centeredCard {
  text-align: center; /* Center content inside each card */
}

.movieDetails {
  background-position: center;
  background-color: black;
  background-image: url('/whatwewatchin1.jpg');
  /* background-size: cover; */
  color: #e8eff0;
  min-height: 100vh;
 
}

.movieDetails2 {
  display: flex;
  justify-content: center;
}

.DetailButton {
  width: 20%;
}

.actionMovie {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.familyPage {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.docMovie {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
  }

.romCom {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.MysterThiller {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.card-content {
  text-align: center; /* Center the content horizontally */
}

.movie-details {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Put the items on the same row with space between them */
}

.navBar {
  background: rgba(77, 49, 49, 0.74);
  width: 1440px;
height: 169px;
}

.comedyPage {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Western {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.dramaPage {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.holidayPage {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.scifiPage {
  background-image: url('/whatwewatchin1.jpg');
  background-size: cover;
  color: #e8eff0;
  min-height: 100vh;
  background-repeat: repeat-y;
}

.directorPage {
  background-position: center;
  background-color: black;
  background-image: url('/whatwewatchin2.jpg');
  /* background-size: cover; */
  color: #e8eff0;
  min-height: 100vh;
}

.idPage {
  background-position: center;
  background-color: black;
  background-image: url('/whatwewatchin2.jpg');
  /* background-size: cover; */
  color: #e8eff0;
  min-height: 100vh;
}

.App {
  background-position: center;
  background-color: black;
  background-image: url('/whatwewatchin2.jpg');
  /* background-size: cover; */
  color: #e8eff0;
  min-height: 100vh;
}